@import "tailwindcss";

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    font-family: "Inter", sans-serif;
    overflow-x: hidden;
  }
}

@layer utilities {
  @keyframes fadeInOut {
    0% { opacity: 0; transform: translateY(-10px); }
    10% { opacity: 1; transform: translateY(0); }
    90% { opacity: 1; transform: translateY(0); }
    100% { opacity: 0; transform: translateY(-10px); }
  }

  .animate-fadeInOut {
    animation: fadeInOut 4.5s ease-in-out forwards;
  }

  @keyframes ping {
    0% { transform: scale(1); opacity: 1; }
    75%, 100% { transform: scale(2); opacity: 0; }
  }
}
@keyframes borderLoop {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 200% 50%;
  }
}

.glow-border {
  position: relative;
  z-index: 0;
}

.glow-border::before {
  content: '';
  position: absolute;
  inset: 0;
  padding: 2px;
  border-radius: 9999px;
  background: linear-gradient(
    270deg,
    #A87A58,
    #E1DBCC,
    #A87A58,
    #E1DBCC
  );
  background-size: 400% 400%;
  animation: borderLoop 4s linear infinite;
  z-index: -1;
  mask: 
    linear-gradient(#fff 0 0) content-box, 
    linear-gradient(#fff 0 0);
  mask-composite: exclude;
  -webkit-mask-composite: destination-out;
}
